@charset "utf-8";
@import url("font.css");
@import url("darkmode.css");

/*common*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    color: #000000;
    letter-spacing: -0.04em;
}

body {
    margin: 0;
    padding: 0;
    background-color: #edf2f8;
}

body:after {
    clear: both;
    display: block;
    content: "";
}

img {
    border: 0;
    vertical-align: middle;
}

label {
    vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

dl,
dt,
dd,
ul,
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

em,
i,
address {
    font-style: normal;
}

table {
    display: table;
    border-spacing: 0px;
    border-collapse: collapse;
    table-layout: fixed;
}

caption {
    overflow: hidden;
    height: 0;
    font-size: 0;
    line-height: 0;
}

hr {
    border: 1px;
    border-collapse: collapse;
}

form,
fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

textarea,
input,
button,
select {
    vertical-align: middle;
    box-sizing: border-box;
}

textarea {
    display: block;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/*select box 화살표 안보이게*/
select::-ms-expand {
    display: none;
}

/*IE select box 화살표 안보이게*/
img,
input[type="checkbox"],
input[type="radio"] {
    vertical-align: middle;
}

input:focus {
    outline: none;
}

/*IE select box 화살표 안보이게*/
input[type="password"] {
    font-family: "Noto Sans KR", sans-serif;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: #bababb;
    font-weight: 400;
}

iframe {
    width: 100%;
    color: #fff;
}

/* 정렬 */
.L {
    text-align: left;
}

.C {
    text-align: center;
}

.R {
    text-align: right;
}

.In {
    display: inline-block;
}

.fl {
    display: flex;
}

.fl_col {
    display: flex;
    flex-direction: column;
}

.cf::after {
    content: "";
    clear: both;
    display: flex;
}

.hidden,
.hidden * {
    display: none;
}

/*width*/
.w8per {
    width: 8%;
}

.w10per {
    width: 10%;
}

.w12per {
    width: 12%;
}

.w16per {
    width: 16%;
}

.w20per {
    width: 20%;
}

.w26per {
    width: 26%;
}

.w30per {
    width: 30%;
}

.w36per {
    width: 36%;
}

.w50per {
    width: 50%;
}

.w80per {
    width: 80%;
}

.w100per {
    width: 100%;
}

.w70 {
    width: 70px;
}

.w80 {
    width: 80px;
}

.w100 {
    width: 100px;
}

.w120 {
    width: 120px;
}

.w140 {
    width: 140px;
}

.w150 {
    width: 150px;
}

.w240 {
    width: 240px;
}

/* 211112 서채원 추가 */

/* margin */
.MT8 {
    margin-top: 8px;
}

.MT16 {
    margin-top: 16px;
}

.MT30 {
    margin-top: 30px;
}

.MT40 {
    margin-top: 40px;
}

.MT60 {
    margin-top: 60px;
}

.MT100 {
    margin-top: 100px;
}

/* 211126 서채원 추가 */
.MB6 {
    margin-bottom: 6px;
}

.MB30 {
    margin-bottom: 30px;
}

.ML6 {
    margin-left: 6px;
}

.ML10 {
    margin-left: 10px;
}

.ML20 {
    margin-left: 20px;
}

.ML40 {
    margin-left: 40px;
}

/* 중요 표시 */
.Ast::before {
    content: "*";
    color: #d9101b;
    font-size: 15px;
    margin-right: 4px;
}

/*btn background*/
.btn.lightgray,
.btn_S.lightgray {
    background-color: #000000;
}

.btn.darkgray,
.btn_S.darkgray {
    background-color: #535357;
}

.btn.green,
.btn_S.green {
    background-color: #2ea1a8;
}

.btn.blue,
.btn_S.blue {
    background-color: #2b489c;
}

.btn.brown,
.btn_S.brown {
    background-color: #a18d67;
}

.btn.orange,
.btn_S.orange {
    background-color: #f09e00;
}

.btn.gray.line,
.btn_S.gray.line {
    border: 1px solid #878785;
}

.btn.gray.line span,
.btn_S.gray.line span {
    color: #878785;
}

/*header*/
/*.inner {width: 1920px; margin-left:78px;}*/
.inner {
    display: flex;
    width: 1294px;
    margin: 0 100px;
}

.inner_sub {
    width: 1294px;
    min-width: 300px;
    margin: 0 auto;
}

header select {
    display: inline-block;
    height: 40px;
    box-sizing: border-box;
    padding: 0 14px;
    border-radius: 6px;
    background: url("../images/common/arrow_select.svg") right 12px center
        no-repeat #fff;
    background-size: 12px;
    line-height: 34px;
    vertical-align: middle;
    cursor: pointer;
}

header .top_area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: #00343f;
}

header .logo {
    display: inline-block;
    width: 225px;
    height: 40px;
    margin: -4px 0;
    background: url("../images/common/UC_portal_logo1.png") center / 80%
        no-repeat;
    vertical-align: middle;
    font-size: 0;
}

header .top_area .inner {
    justify-content: space-between;
    height: 100%;
    padding: 0 20px;
}

header .left_wrap {
    display: flex;
    align-items: center;
}

header .left_wrap a {
    color: #fff;
}

header .right_wrap {
    font-size: 0;
    display: flex;
    gap: 20px;
}

header .right_wrap span {
    color: #fff;
    display: flex;
    align-items: center;
}

header .right_wrap select {
    width: 100px;
    border: 1px solid #2b489c;
    margin-left: 12px;
    line-height: 40px;
}

header .right_wrap strong {
    color: #fff;
}

header .right_wrap select {
    width: 100px;
    border: 1px solid #2b489c;
    margin-left: 12px;
    line-height: 40px;
}

header .btn {
    height: 100%;
    box-sizing: content-box;
    padding: 0 10px;
    border-radius: 6px;
    display: flex;
}

header .btn.green {
    margin-left: 24px;
}

header .main_set {
    position: relative;
    cursor: pointer;
}

header .main_set .btn {
    padding: 0;
    margin-left: 0;
}

header .btn.darkgray {
    margin-left: 6px;
}

header .btn span {
    color: #fff;
    line-height: 35px;
}

/* 로그아웃버튼 부분 */
header .main_set ul {
    display: none;
    width: 102px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 6px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 34px;
    z-index: 10;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
}

header .main_set:hover ul {
    display: block;
}

header .main_set ul li {
    box-sizing: border-box;
    border-top: 1px solid #ccc;
    background-color: #fff;
}

header .main_set ul li:first-child {
    border-top: 0;
}

header .main_set ul li a {
    display: block;
    box-sizing: border-box;
    padding: 0 6px;
    text-align: center;
    line-height: 36px;
}

header .btn_icon {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-left: 6px;
    border-radius: 6px;
    font-size: 0;
    vertical-align: middle;
    background: center center no-repeat #a18d67;
    background-size: 16px;
}

header .btn_icon.pwchange {
    background-image: url("../images/common/icon_pw.svg");
}

header .btn_icon.tree {
    background-image: url("../images/common/icon_tree.svg");
}

header .set_lang {
    margin-left: 12px;
    display: flex;
    gap: 36px;
}

header .set_lang li a {
    font-size: 18px;
}

header .btn_menu {
    display: none;
    width: 34px;
    height: 34px;
    margin-top: 24px;
    border-radius: 6px;
    font-size: 0;
    background: url("../images/common/icon_menu.svg") center center no-repeat
        #2b489c;
    background-size: 24px;
    float: right;
}

header .btn_subMenu {
    display: none;
    width: 34px;
    height: 34px;
    margin-top: 5px;
    border-radius: 6px;
    font-size: 0;
    background: url("../images/common/icon_menu.svg") center center no-repeat
        #337972;
    background-size: 24px;
    float: right;
}

header nav {
    height: 64px;
    background-color: #fff;
    display: flex;
    justify-content: center;
}

header nav .inner {
    height: 100%;
}

/*221021 수정*/

/*추가 221107 수정*/
header .nav_list {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .nav_list .logo {
    display: block;
    width: 225px;
    height: 59px;
    padding-bottom: 1px;
}

header .nav_list .nav_list_wrap {
    width: 73%;
    height: 60px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

header .nav_list .nav_list_wrap li a {
    font-size: 15px;
    color: #000000;
    display: block;
    padding: 0 7px;
    line-height: 30px;
    width: fit-content;
    letter-spacing: -1px;
}

header .nav_list .nav_list_wrap li a:hover {
    font-weight: 700;
}

header .nav_list .nav_menu_ico {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 100%;
    margin: 0 20px;
}

header .nav_list img {
    position: absolute;
    width: 30px;
}

header nav select {
    float: left;
    width: 234px;
    margin-top: 15px;
}

/**/

header .m_menu {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    background-color: #fafbfc;
}

.m_menu .top_wrap {
    box-sizing: border-box;
    padding: 30px 0;
    margin-bottom: 30px;
    background-color: #2b489c;
}

.m_menu .top_wrap .user {
    color: #fff;
    font-size: 16px;
    vertical-align: middle;
}

.m_menu .top_wrap span strong {
    color: inherit;
    font-size: inherit;
}

.m_menu .top_wrap select {
    width: 100px;
    margin-left: 12px;
}

.m_menu .top_wrap .btn_close {
    display: inline-block;
    width: 34px;
    height: 34px;
    background: url("../images/common/icon_close.svg") center center no-repeat;
    background-size: 26px;
    font-size: 0;
    float: right;
}

.m_menu .dth01 > li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.m_menu .dth01 > li a {
    position: relative;
    display: block;
    height: 60px;
    line-height: 59px;
    font-size: 17px;
    box-sizing: border-box;
}

.m_menu .dth01 > li.has_dth > a::after {
    content: "";
    display: block;
    width: 12px;
    height: 18px;
    background: url("../images/common/arrow_R_green.svg") center center
        no-repeat;
    background-size: 20px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
}

.m_menu .dth01 > li.has_dth > a.on::after {
    transform: translateY(-50%) rotate(90deg);
}

.m_menu .dth01 > li .dth02 {
    background-color: #f1f3f7;
    display: none;
}

.m_menu .dth01 > li .dth02 li a {
    font-size: 16px;
    height: 48px;
    line-height: 48px;
    padding-left: 20px;
    border: none;
}

.m_menu .dth01 > li .dth02 li.has_dth > a::after {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    background: url("../images/common/arrow_R_green.svg") center center
        no-repeat;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
}

.m_menu .dth01 > li .dth02 li.has_dth > a.on::after {
    transform: translateY(-50%) rotate(90deg);
}

.m_menu .dth01 > li .dth02 > li .dth03 {
    background: #fff;
    display: none;
}

.m_menu .dth01 > li .dth02 > li .dth03 li a {
    font-size: 14px;
    height: 38px;
    line-height: 38px;
    padding-left: 40px;
}

.m_menu .dth01 > li .dth02 > li .dth03 li:not(:first-child) {
    border-top: 1px solid #edf0f7;
}

.m_menu .btn_wrap {
    margin-top: 40px;
    font-size: 0;
}

.m_menu .btn_wrap .btn {
    margin-left: 6px;
}

.m_menu .btn_wrap .btn.lightgray {
    margin-left: 0;
}

.m_menu .set_lang {
    display: block;
    width: 130px;
    margin: 20px auto;
    padding-bottom: 40px;
}

/*footer*/
footer {
    width: 100%;
    background-color: #e0e0e0;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

footer:after {
    clear: both;
    display: flex;
    content: "";
}

footer .foot_link {
    height: 36px;
    box-sizing: border-box;
    border-width: 1px 0;
    border-style: solid;
    border-color: #e4e6eb;
}

footer li {
    /* margin-left: 12px; */
}

footer .foo {
    padding: 24px;
    background-color: #e0e0e0;
}

footer .footer_box {
    width: 100%;
    display: flex;
    flex-direction: column;
}

footer .footer_box .lst_link {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    margin-bottom: 24px;
    line-height: 12px;
}

footer .foo p,
footer .foo p a {
    display: inline-block;
    vertical-align: middle;
    color: #787879;
}

footer .foo p.copyright {
    float: left;
    line-height: 40px;
}

/*responsive*/
@media all and (max-width: 1340px) {
    .header .top_area .inner,
    .inner {
        width: 100%;
    }

    .inner_sub {
        width: 1008px;
    }

    .nav_list_wrap {
        display: none;
    }

    .responsive1 {
        display: none;
    }

    header .top_area {
        box-shadow: 0 1px 4px #000000;
    }

    header .set_lang li:not(:first-child)::before {
        margin: 0 14px;
    }

    header .btn_menu {
        display: block;
    }

    header .btn_subMenu {
        display: block;
    }

    header .m_menu.active {
        display: block;
    }
}

@media all and (max-width: 1071px) {
    .inner_sub {
        width: 650px;
    }

    header .right_wrap,
    .responsive2 {
        display: none;
    }

    header .set_lang {
        margin-left: 0;
    }
}

@media all and (max-width: 813px) {
    .inner {
        margin: 0 40px;
    }

    .inner_sub {
        width: 500px;
    }

    .responsive3 {
        display: none;
    }
}

@media all and (max-width: 555px) {
    .inner,
    header .top_area .inner {
        margin: 0;
    }

    header .set_lang {
        justify-content: space-between;
        gap: 16px;
    }

    header .set_lang li a {
        font-size: 16px;
    }

    .inner_sub {
        width: 100%;
    }

    .m_menu .top_wrap select {
        width: 98px;
        margin-left: 6px;
    }

    header .promo_area .btn_wrap .btn_today {
        right: 20px;
    }
}

@media all and (max-width: 359px) {
    header .top_area {
        height: fit-content;
        padding: 10px 0;
    }

    header .left_wrap {
        width: 100%;
    }

    header .set_lang {
        width: 100%;
        gap: 0;
        flex-wrap: wrap;
    }

    header .set_lang li {
        width: 50%;
    }
}
