.container{
    padding: 30px;
}

input[type=text], select, textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 20px;
}

