
/* Main section styles */
.main-banner{
    /* background: url(../images/bg3.png) no-repeat top right; */
    /* background-position: center;
    background-size: cover;
    min-height: 890px; */
}
.main-section{
    padding: 7.5rem 1.87rem;    /*120px / 16 = 7.5rem, 30px/16=1.87rem */
}
.main-section > div{
    width: 50%;
    float: left;
}

.main-section__image{
    text-align: right;
}
.main-section__image img{
    width: 500px;
}
.main-section__welcome{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1.25rem;
    letter-spacing: 2px;
    color: #797979;
}

.main-section__intro{
    margin-top: 1.25rem;
    font-size: 3.75rem; /*60px / 16 = 3.75rem*/
    font-weight: 500;
    margin-bottom: 1.25rem;    /*20px / 16 = 1.25rem*/
}
.main-section__position{
    color: #05364E;
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 1.25rem;
}

.main-section__socials a{
    color: #8FA1AA;
    font-size: 1.25rem;
    display: inline-block;
    margin-right: 1rem;
    cursor: pointer;
}

.main-section__socials a:hover{
    color: #1C44E4;
}

.main-section__action{
    margin-top: 1.87rem;
}
/* Statistics section */
.statistics{
    padding-top: 6.25rem;
}

.statistics__item{
    display: inline-block;
    background-color: #F8FAFF;
    text-align: center;
    padding: 0.32rem 0.625rem;
    margin-right: 1.25rem;
    width: 9.375rem;
}

.statistics__number{
    font-size: 1.69rem;
    margin-bottom: 0.32rem;
    background: linear-gradient(90deg, #1345e6 0%, #ed239f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.statistics__title{
    font-size: 1rem;
    color: #787878;
    font-weight: 300;
}


/* About section */

.about-section{
    padding: 6.25rem 0;
}
.about-section__image img{
    height: 31.25rem;   /*500px*/
}

.about-section > div{
    width: 50%;
    float: left;
}


.about-section__description{
    font-size: 0.87rem;
    font-weight: 300;
    color: #797979;
    line-height: 1.68rem;
}

.about-section__action{
    margin-top: 2.5rem;
}

/* Services section styles */
.services-section{
    padding-top: 6.25rem;
    
}

.services-card{
    display: inline-block;
    width: 30%;
    padding: 3.75rem 1.87rem;
    background-color: #F8FAFF;
    margin-right: 3%;
    text-align: center;
    box-sizing: border-box;
}


.services-card__title{
    color: #053640;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 1.25rem;
    text-transform: uppercase;
}

.services-card__description{
    font-size: 0.87rem;
    font-weight: 300;
    line-height: 1.68rem;
    color: #797979;
}
.services-card__link{
    font-size: 0.81rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #053640;
    text-decoration: none;
}

.services-card:hover{
    background-color: #5F30FF;
}

.services-card:hover .services-card__title,
.services-card:hover .services-card__description,
.services-card:hover .services-card__link{
    color: #FFFFFF;
}

/* Clients section */

.clients-section{
    padding-top: 6.25rem;
}

.clients-item > div{
    width: 50%;
    float: left;
    box-sizing: border-box;

}

.clients-item__image img{
    width: 100%;
}
.clients-item__info{
    padding-top: 3.12rem;
    padding-left: 3.12rem;
}

.clients-item__name{
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
}

.clients-item__position{
    font-size: 0.87rem;
    font-weight: 300;
    color: #5b6d75;
}

.clients-item__review{
    font-size: 0.87rem;
    line-height: 1.68rem;
    font-weight: 300;
    color: #5b6d75;
}

.clients-item__rate{
    color: #FFD805;
}
.clients-item__rate .disabled{
    color: #AEB9BE;
}

/* Portfolio section */

.portfolio-section {
    padding: 6.25rem 0;
}

.portfolio-filters{
    list-style: none;
    padding-left: 0;
    margin-top: 3.12rem;
}

.portfolio-filters li{
    display: inline-block;
    margin-right: 2.5rem;
    font-size: 0.81rem;
    font-weight: 400;
    text-transform: uppercase;  
    cursor: pointer;
}

.portfolio-filters li:hover,
.portfolio-filters li.active{
    color: #1345e6;
}


.portfolio-items{
    position: relative;
    margin-top: 3.12rem;
}

.portfolio-item{
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 50%;
    padding: 0.625rem;
    box-sizing: border-box;
}

.portfolio-item1{
    padding-left: 0;
}

.portfolio-item2{
    position: absolute;
    top: 0;
    right: 0;
}

.portfolio-item3{
    position: absolute;
    top: 322px;
    right: 0;
}

.portfolio-item img{
    width: 100%;
}

.portfolio-item__overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(19,69,230,0.9);
    visibility: hidden;
    z-index: 1;
}

.portfolio-item__info{
    position: absolute;
    bottom: 44px;
    left: 80px;
    color: white;
    visibility: hidden;
    z-index: 1;
}

.portfolio-item__info a{
    color: white;
    text-decoration: none;
}

.portfolio-item:hover .portfolio-item__overlay {
    visibility: visible;
    top: 20px;
    left: 20px;
}

.portfolio-item:hover .portfolio-item__info {
    visibility: visible;
    top: 24px;
    left: 60px;
}

/* Blog section */
.blog-section{
    padding-top: 6.25rem;
}

.blog-items{
    margin-top: 3.12rem;
}

.blog-item{
    display: inline-block;
    width: 30%;
    margin-right: 3%;
    box-sizing: border-box;
}

.blog-item:hover{
    box-shadow: 0px 10px 20px rgb(5 54 77 / 10%);
}

.blog-item:hover .blog-item__info{
    background-color: white;
}

.blog-item__image img{
    width: 100%;
    max-height: 300px;
}

.blog-item__info{
    background-color: #F8FAFF;
    padding: 1.87rem;
    color: #797979;
}

.blog-item__main-info span{
    font-size: 0.87rem;
    margin-right: 1.87rem;
    font-weight: lighter;
}

.blog-item__info i{
    margin-right: 0.31rem;
}

.blog-item__title{
    font-size: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 0.94rem;
    color: #85364d;
    font-weight: 700;

}

.blog-item__description{
    line-height: 1.68rem;
    font-weight: lighter;
    font-size: 0.94rem;

}

.blog-item__details{
    font-size: 0.81rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #05364d;
    cursor: pointer;
}

.blog-item__details:hover{
    color: #ed239f;
}

/* Partners section */

.partners-section{
    padding-top: 6.25rem;
}

.partner{
    display: inline-block;
    padding: 0 1.87rem;
}

@media only screen and (max-width: 991px){
    /* Main section */
    .main-section__image{
        display: none;
    }

    .main-section > div{
        width: 100%;
    }

    /* Statistics section */
    .statistics{
        padding-top: 1rem;
        text-align: center;
    }

    /* About section */

    .about-section{
        padding: 1.5rem 0;
    }

    .about-section > div{
        width: 100%;
    }

    .about-section__image img{
        display: none;
    }

    /* Services section */
    .services-section{
        padding: 1.5rem 0;
    }

    .services-card{
        width: 45%;
        margin-bottom: 20px;
    }
     /* Clients section */

     .clients-section{
        padding: 1.5rem 0;
    }

    .clients-item > div{
        width: 100%;
        float: none;
    }

     /* Blog section */

     .blog-section{
        padding: 1.5rem 0;
    }

    .blog-item{
        width: 45%;
        margin-bottom: 20px;
    }

    /* Partners section */
    .partners-section{
        padding: 1.5rem 0;
    }
    .partner{
        display: block;
        padding: 0;
        text-align: center;
        margin-bottom: 10px;
    }

}


@media only screen and (max-width: 767px){
    /* Main section */
    .main-banner{
        background: none;
        min-height: auto;
    }

    .main-section__action{
        display: none;
    }
    

    .main-section__intro{
        font-size: 3rem;
    }

    /* Statistics section */

    .statistics__item{
        width: 100%;
        margin-bottom: 20px;
        margin-right: 0;
        box-sizing: border-box;
    }

    /* Services section */
    
    .services-card{
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    /* Portfolio section */

    .portfolio-section{
        padding: 1.5rem 0;
    }

    .portfolio-item{
        width: 100%;
    }

    .portfolio-item1, .portfolio-item2, .portfolio-item3{
        position: static;
    }

    
}